html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}


/*
 * Styles for the deck of cards
 */

#count-down {
    color: red;
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #EDBF11 0%, #B0694E 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.help {
    background: url(../img/help.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 3em;
    border: none;
    padding: 5em;
    margin-right: 5em;
    display: block;
/*    position: relative;
*/}


/*
 * Styles for the Score Panel and awards
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.awards,
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.awards li,
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-key {
    color: yellow;
    font-size: 90px;
}


/* The popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* popup Content */
.popup-content {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 1em;
    box-shadow: : 0px 0px 15px 15px #1f546e;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.padding-top {
    padding-top: 1em;
}

.fa-check-circle-o {
    color: orange;
    text-shadow: 0.05em 0.05em 0.05em #ccc;
    font-size: 5em;
}


.awards {
    color: yellow;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0 0 3px blue;
}

.fail-image {
    background-image: url(../img/fail.png);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    background-repeat: repeat;
}

.noway {
    background: url(../img/noway.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    border: none;
    width: 8em;
    padding: 8em;
    margin: 3em;
    display: inline-block;
    /*position: relative;*/
}


.key {
    background-image: url(../img/key.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0.3em;
    padding: 1em;
    margin-left: 0.3em;
    font-size: 0.5em;
}

.muah {
    background: url(../img/muah.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    border: none;
    width: 8em;
    padding: 8em;
    margin: 3em 3em 1em;
    display: inline-block;
/*    position: relative;
*/}


.button {
    border-radius: 4px;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em;
    width: 8em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1em 1em 2em;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "!!!";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.04em;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 1em;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}