html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    -ms-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
}

h1 {
    font-family: 'Corben', Georgia, Times, serif;
    font-size: 40px;
    line-height: 55px;
}


/*
 * Styles for the deck of cards
 */

#count-down {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #edbf11 0%, #b0694e 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #808080;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 0 0 20px;
}

.deck .card.open {
    transform: rotateY(0);
    background: #2e3d49;
    cursor: default;
    pointer-events: none;
}

.deck .card.show {
    font-size: 33px;
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #0000ff;
    font-size: 33px;
    /* Once a pair matches, make clicking unable */
    pointer-events: none !important;
}

.deck .card.not-match {
    background: #f42;
    pointer-events: none;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.help {
    background: url(../img/help.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    border-radius: 3em;
    border: none;
    padding: 5em;
    margin-right: 5em;
    display: block;
}

.flex-center {
    display: flex;
    justify-content: center;
}


/*
 * Styles for the Score Panel and awards
 */

.score-panel {
    text-align: left;
    width: 355px;
    margin-bottom: 10px;
}

.awards,
.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.awards li,
.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-key {
    color: yellow;
    font-size: 90px;
}


/* The popup (background) */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* popup Content */
.popup-content {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 1em;
    box-shadow: 12px 15px 20px 0 rgba(61, 94, 34, 0.5);
    width: 50%;
}

/* The Close Button on popups*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.padding-top {
    padding-top: 1em;
}

/* Star ratings up on the deck */
.fa-check-circle-o {
    color: orange;
    text-shadow: 0.05em 0.05em 0.05em #ccc;
    font-size: 5em;
}

/* Star ratings on the winner popup */
.awards {
    color: yellow;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 0 0 3px blue;
}

/* background image on gameover */
.fail-image {
    background-image: url(../img/fail.png);
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    background-repeat: repeat;
}

/* key image on winning */
.key {
    background-image: url(../img/key.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 0.3em;
    padding: 1em;
    margin-left: 0.3em;
    font-size: 0.5em;
}

/* Welcome image on welcome popup */
.bigger-help {
    background: url(../img/help.jpg);
    margin: 3em 3em 1em;
}

/* Muah image on winner popup */
.muah {
    background: url(../img/muah.png);
    margin: 3em 3em 1em;
}

/* Leaderboard image on leaderboard popup */
.leaderboard {
    background: url(../img/leaderboard.png);
    margin: 3em 3em 1em;
}

/* Noway image on gameover popup */
.noway {
    background: url(../img/noway.png);
    margin: 3em;
}

/* The 4 images on popups share the attritubes below */
.img-on-popup  {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 4px;
    border: none;
    width: 8em;
    padding: 8em;
    display: inline-block;
}

/* Buttons */
.see-leaderboard,
.reset-record,
.play-again {
    margin: 1em;
    background: orange;
    transition: all 0.5s;
}

.play-again span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.play-again span:after {
    content: "!!";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.04em;
    transition: 0.5s;
}

.play-again:hover span {
    padding-right: 1em;
}

.play-again:hover span:after {
    opacity: 1;
    right: 0;
}

.select-mode {
    display: flex;
    align-items: center;
    margin: 0 0 3em;
}

#easy {
    background: #808080;
}

#medium {
    background: #0000ff;
}

#impossible {
    background: orange;
}

.select-mode .mode {
    margin: 0.3em;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

button {
    font: bold 0.9rem/normal "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    height: 50px;
    width: 125px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* leaderboard  */
table,
tr,
td {
    border: 1px solid #9dc3f3;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to right, #25c481, #25b7c4);
    color: #fff;
}

tr {
    height: 2em;
}

.leaderboardstyle {
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
}

footer {
    text-align: center;
    margin-bottom: 2em;
    color: red;
}

@media screen and (max-width: 638px) {
    h1 {
        font-size: 17px;
        line-height: 20px;
    }

    p {
        font-size: 11px;
    }
    .deck {
        width: 95%;
        min-height: 350px;
        padding: 5%;
        margin: 0.3em;
    }

    .deck .card {
        height: 65px;
        width: 22%;
    }

    .deck .card.match,
    .deck .card.show {
        font-size: 29px;
    }

    .help {
        display: none;
        margin: 0;
    }

    .score-panel {
        width: 100%;
        margin-bottom: 20px;
    }

    .fa-key {
        font-size: 80px;
    }

    .popup-content {
        width: 65%;
    }

    .fail-image {
        background-size: 40%;
    }

    .muah,
    .leaderboard,
    .noway,
    .bigger-help {
        margin: 1em;
    }

    .img-on-popup  {
        padding: 5em;
    }

    .select-mode {
        margin: 0 0 1em;
    }

    .select-mode .mode {
        width: 100px;
        height: 35px;
    }

    button {
        font-size: 0.7em;
    }

}

@media screen and (min-width: 639px) and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    .deck {
        width: 80%;
        height: 80%;
        min-height: 500px;
        padding: 2%;
        margin: 0.3em;
    }

    .deck .card {
        height: 100px;
        width: 23%;
    }

    .deck .card.match,
    .deck .card.show {
        font-size: 30px;
    }

    .help {
        margin-right: 2em;
    }

    .fa-key {
        font-size: 65px;
    }

    .popup-content {
        width: 65%;
    }


    .img-on-popup  {
        padding: 6.5em;
    }

    .select-mode {
        margin: 0 0 1em;
    }

    .select-mode .mode {
        width: 100px;
        height: 35px;
    }

    button {
        font-size: 0.8em;
    }
}